


/* ====================== Top Nav Bar ========================= */
.topBar {
	display: flex;
	background-color: var(--carolinaBlue);

	justify-content: center;
	align-items: center;

	padding-inline: 0.3rem 1.5rem;
	padding-top: 0.3rem;
}

button.menuButton {
	top: 0.5rem;
	right: 0.5rem;
	z-index: 2;
}
nav {
	display: flex;
	z-index: 2;

	justify-content: center;
	align-items: center;

	width: 70%;
	/* height: 80%; */
	position: fixed;
	top: 0rem;
	right: 0rem;

	padding-block: .5rem;
	
	display: none;
	
	background-color: var(--prussianBlue);
	
	border: 0.3rem white solid;
	
	overflow-y: scroll;
}

.logoImage-wrapper {
	justify-content: flex-start;
	flex: 1;

	justify-content: center;
	align-items: center;
}
.logoImage {
	background-color: var(--white);
	border-radius: 1rem;
	width: 20%;
	border: 0.2rem var(--prussianBlue) solid;
}

.navPagesLinks {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.navPagesLinks a {
	text-align: center;
	padding: 1rem;
	margin-block: .5rem;

	/* font-size: 1.5rem; */

	width: 100%;
	flex: 1;

	border-top: 0.2rem transparent solid;
	border-bottom: 0.2rem transparent solid;
	color: var(--white);
}

.navPagesLinks a:active,
.navPagesLinks a:hover {
	border-top-color:var(--white);
	border-bottom-color: var(--white);
}























/* ================= FOOTER =================== */

footer {
	background-color: var(--prussianBlue);
	color: var(--brightWhite);
	padding: 2rem 1rem;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}


.copyrightText-wrapper{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;

	margin: 2rem;
}

.attributionText-wrapper{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	
	justify-self: flex-end;
	margin-top: 1rem;
	font-size: .8rem;
}
.attributionText a{
	color: var(--carolinaBlue);
	padding: .2rem;
	text-decoration-color: var(--white);
	text-decoration-thickness: .1rem;
	opacity: 1;
	transition: .2s ease;
}
.attributionText a:hover{
	transition: .2s ease;
	transform: scale(1.1);

}